@import "../../../styles/utils.scss";

.table-wrapper {
    margin-bottom: pxToRem(100);
    min-height: pxToRem(300);
    width: 100%;
    .icon-row {
        display: flex;
        align-items: center;
        height: pxToRem(50);
        padding: 0 pxToRem(12);
        >span{
            cursor: pointer;
            max-width:50px;
        }
    }
}
