@import "../../../../styles/utils.scss";

.form-tag {
    padding: pxToRem(30);
    background-color: aliceblue;
    @include phone {
        overflow: auto;
    }

    .submit-container {
        margin-top: pxToRem(50);
        display: flex;
        justify-content: center;
        .clear-btn-wrapper {
            margin-left: pxToRem(100);
        }
        @include phone {
            flex-direction: column;
            justify-content: unset;
            .clear-btn-wrapper {
                margin-left: 0;
                margin-top: pxToRem(10);
            }
        }
    }
}
