.form-tag {
    padding: 30px;
    background-color: aliceblue;

    .submit-container {
        margin-top: 50px;
        display: flex;
        justify-content: center;
        .clear-btn-wrapper {
            margin-left: 100px;
        }
    }
}
