.common {
    border: none;
    //width: 250px;
    height: 45px;
    border-radius: 6px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
    &.primary {
        background-image: linear-gradient(
            90deg,
            rgba(8, 0, 255, 1) 0%,
            rgba(69, 85, 184, 0.9192051820728291) 29%,
            rgba(73, 148, 207, 1) 100%
        );
        color: white;
    }
    &:disabled{
        cursor: not-allowed;
        opacity: 0.6;
    }
}
