@import "../../../../styles/utils.scss";

.reports {
    .common-report-accordion {
        /* .unordered-list {
            margin: 0 auto;
            max-width: 50%; */
        .output-list-item {
            .output-item-content {
                > span {
                    &.positive {
                        color: green;
                    }
                    &.negative {
                        color: red;
                    }
                }
            }
            //}
        }
    }
}
