@import "../../../../styles/utils.scss";

.input-row {
    display: flex;
    @include phone {
        justify-content: unset;
        flex-direction: column;
        align-items: center;
    }
    @include tablet-and-up {
        justify-content: space-between;
        &.center-all {
            justify-content: center;
        }
    }
    > div {
        @include phone {
            width: 95%;
        }
        @include tablet-and-up {
            width: 45%;
        }
    }
}
