@import "../../styles/utils.scss";
@import "../Layout.scss";

$padding-value:pxToRem(10);

.content {
    margin-left: $sidebar-width;
    padding: $padding-value;
    min-height: calc(#{$sidebar-heigth} - #{$padding-value});
}
